.container {
    width: 80%;
    margin: auto;
    background-color: #fff;
    border: 3px #3335ab solid;
}

body {
    background-color: #7a97f5;
    background-image: url('../images/background.jpg');
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}

figcaption {
    text-align: center;
    font-size: smaller;
}

#main-header {
    background-color: #fcba03;
    text-align: center;
    font-size: 0px;
}

#main-header h1,
h2 {
    display: inline-block;
    font-size: medium;
}

.navbar {
    text-align: center;
    background-color: #b3e2fc;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
    justify-content: center;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    text-decoration: none;
    color: #000;
}

.icon-container {
    display: flex;
    justify-content: center;
    background-color: #b3e2fc;
    padding-top: 5px;
    padding-bottom: 5px;
}

.icon-container img {
    margin: 0 10px;
}

.text-container {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: left;
}

.page-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.divider-line {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #000;
}

.divider-text {
    margin: 0 10px;
    font-weight: bold;
    font-size: larger;
    color: #000;
}

#graphics-controls {
    justify-content: center;
    display: flex;
    flex: 2;
    margin: auto;
    width: 80%;
    padding: 20px;
    border: 2px solid black;
    position: relative;
}

#controls {
    border: 1px solid black;
    margin: auto;
    padding: 10px;
    position: relative;
}

canvas {
    border: 1px solid black;
    margin: auto;
    width: 30%;
    height: auto;
    margin-left: 20px;

}

#line-perspective {
    display: none;
}

.left-text-img-box {
    display: flex;
    align-items: center;
    flex: 1;
    text-align: left;
    margin-bottom: 20px;
}

.left-text-img-box img {
    max-width: 400px;
    max-height: 600px;
    min-width: none;
    margin-left: 20px;
}

.right-text-img-box {
    display: flex;
    align-items: center;
    flex: 1;
    text-align: left;
    margin-bottom: 20px;
}

.right-text-img-box img {
    max-width: 400px;
    max-height: 600px;
    min-width: none;
    margin-right: 20px;
}

.label {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 0 10px;
}